{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gulp działa w symfony!</h1>
	<h2>Formatowanie wyjściowego CSS</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sapien a auctor eleifend. Aenean scelerisque ultricies euismod. In quis vestibulum dolor. Integer consectetur nulla est, id fringilla tortor volutpat non. Proin orci quam, venenatis vel ante id, tincidunt facilisis libero. Integer mollis tincidunt hendrerit. Proin dapibus fringilla sapien. Mauris at felis in leo gravida placerat quis vitae dolor.</p>
	
    <p><a href="#">Nacisk</a></p>
	<div class="block-1"></div>
	<div class="block-2"></div>
	<div class="block-3"></div>
	<div class="block-4"></div>
	<div class="block-5"></div>
	<div class="block-6"></div>
	<div class="block-7"></div>
	<div class="block-8"></div>
	<div class="block-9"></div>
	<div class="block-10"></div>

{% endblock %}
