body {
  font-family: "Arial", sans-serif;
  padding: 0 50px;
  color: #BE4E32; }
  body .block-1 {
    background: #0c3f64; }
  body .block-2 {
    background: #0c4268; }
  body .block-3 {
    background: #0d456d; }
  body .block-4 {
    background: #0d4871; }
  body .block-5 {
    background: #0e4a76; }
  body .block-6 {
    background: #0e4d7a; }
  body .block-7 {
    background: #0f507f; }
  body .block-8 {
    background: #0f5384; }
  body .block-9 {
    background: #105688; }
  body .block-10 {
    background: #10598d; }

h1, h2 {
  font-weight: 400; }

p a {
  color: #f7e4df;
  text-decoration: none; }
  p a:hover {
    text-decoration: underline; }

div {
  width: 100%;
  height: 20px;
  background: #0B3C5F; }
